/* demo_menu  */

*{ margin: 0px; padding: 0px;}
body{ width: 70px; }
ul { list-style-type: none; }
a{ text-decoration: none; }
li{ width: 80px; height: 80px; border: 1px solid #000000; margin-left: 10px; margin-top: 20px;}
.li2 { margin-top: 50px; }
.menu { border: 1px solid #000000; width: 100px; height: 99%; position: fixed; left: 0px; z-index: 999;}   			 
.submenu{ display: inline-block; }
.submenu-content {display: none; background-color: #EAEAEA; min-width: 180px; z-index: 999; margin-left: 82px;}
.submenu a {color: black; padding: 12px 16px;  display: block;}
.submenu a:hover {background-color: #f1f1f1}
.submenu:hover .submenu-content { display: block; } 
.main{ display: flex; }
	
	
/* demo_pull  */
	
.area1 { border: 1px solid #000000; width: 200px;  height: 99%; position: fixed; left: 101px; z-index: 998;}
.area2 { border: 1px solid #000000; width: 150px;  height: 99%; position: fixed; left: 302px; z-index: 997;}
.area3 { border: 1px solid #000000; height: 99%; overflow: auto; width: auto; position: fixed; left: 453px; right: 401px;}  
.area4 { border: 1px solid #000000; width: 400px;  height: 99%; position: fixed; right: 0px;}
body { width: 1920px; height: 99%; overflow: hidden; margin: 0px; padding: 0px; }	
.area4-1 { border: 1px solid #000000; width: 350px; height: 5%; margin-left: 25px; margin-right: 25px; margin-top: 5px;}
.area4-2 { border: 1px solid #000000; width: 350px; height: 6%; margin-left: 25px; margin-right: 25px; margin-top: 5px;}
.area4-3 { border: 1px solid #000000; width: 350px; height: 5%; margin-left: 25px; margin-right: 25px; margin-top: 5px;}
.area4-4 { border: 1px solid #000000; width: 350px; height: 10%; margin-left: 25px; margin-right: 25px; margin-top: 5px;}
.area4-5 { border: 1px solid #000000; width: 350px; height: 5%; margin-left: 25px; margin-right: 25px; margin-top: 20px;}
.area4-6 { border: 1px solid #000000; width: 350px; height: 10%; margin-left: 25px; margin-right: 25px; margin-top: 5px;}
.area1-1 { border: 1px solid #000000; width: 150px; height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 20px; }
.area1-2 { border: 1px solid #000000; width: 150px; height: 200px; margin-left: 25px; margin-right: 25px; margin-top: 20px; margin-bottom: 20px; }
.area2-1 { border: 1px solid #000000; width: 100px; height: 50px; margin-left: 25px; margin-right: 25px; margin-top: 20px; }
.area2-2 { border: 1px solid #000000; width: 100px; height: 130px; margin-left: 25px; margin-right: 25px; margin-top: 20px; margin-bottom: 20px; }


/* scrool (area1, area2)*/

.scroll {
	overflow-y: auto; overflow-x: hidden;
  }
  .scroll::-webkit-scrollbar {
    width: 10px;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    background-clip: padding-box;
    border: 3px solid transparent; 
    border-radius: 10px;
  }
  .scroll::-webkit-scrollbar-track {
    background-color: #c8c8c8;
    border-radius: 10px;
  }

